*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Exo 2",
    sans-serif;
    font-optical-sizing: auto;
    background: #fff;
    line-height: 1.2;
    font-size: 16px;
    color: #070c11;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}


.logo {
    text-decoration: none;
    margin-right: 11%;
}

.phone {
    font-weight: 500;
    line-height: 100%;
}

.phone:nth-child(2) {
    margin: 0 20px 0 23px;
}

.shedule {
    font-weight: 500;
    line-height: 100%;
    color: #838688;
}

.header-btns {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.link-cart {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: 50px;
    overflow: hidden;
    background: url('https://cdn-icons-png.flaticon.com/512/1374/1374128.png') center no-repeat;
    background-size: cover;
    margin-right: 22px;
}

.btn-enter {
    font-weight: 500;
    line-height: 100%;
    color: #fff;
    padding: 16px 26px;
    background: #2a5275;
    border-radius: 4px;
    border: none;
}

.logoPhoto {
    width: 300px;
    height: 60px;
}

.nav {
    background: #0e1821;
    margin-bottom: 40px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-list li {
    display: block;
    margin-right: 37px;
    padding: 20px 0;
}

.nav-list li a {
    font-weight: 500;
    display: block;
    text-decoration: none;
    line-height: 100%;
    color: #fff;
}

.footer {
    background: #edf2f6;
}

.bottom-footer {
    padding: 38px 0 18px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.bottom-footer p {
    margin: 0;
}

.company-rights {
    flex-direction: column;
}

.company-rights-text {
    color: #838688;
    order: 1;
}

.company-site {
    font-size: 12px;
    color: #838688;
    order: 3;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: #070c11;
    margin-bottom: 34px;
}

.cards {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex-basis: 45%;
    flex-grow: 1;
    display: flex;
    gap: 20px;
    padding: 30px;
    background: #edf2f6;
    border-radius: 8px;
}

.card-photo {
    width: 150px;
    flex-shrink: 0;
}

.card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
}

.card-text {
    margin-top: 0;
    margin-bottom: auto;
    padding: 20px 0;
}

.card-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.more {
    font-weight: 500;
    color: #2a5275;
    padding-right: 13px;
    text-decoration: none;
}

.date {
    color: #838688;
    font-weight: 500;
    margin-right: 5%;
}

